*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #d5bdaf;
}
.header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.header h1{
    font-size: 3rem;
    font-weight: 800;
    font-family: comic sans ms;
    text-align: center;
    color: #a33e1c;
}
h2{
    font-size: 4rem;
    text-align: center;
    color: bisque;
}
h3{
    font-size: 2rem;
    color: #A75D5D;
    font-family: comic sans ms;
    text-align: center;
}
p.header{
    font-size: larger;
    text-align: center;
    color: #c38e70;
}
#new-task-form{
    display: flex;
}
input, button{
   appearance: none;
   border: none;
   outline: none;
   background: none; 
}
#new-task-input{
    flex: 1 1 0%;
    background-color: #e76f51;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: beige;
    font-size: 1.25rem;
}
#new-task-input::placeholder{
    color: antiquewhite;
}
#new-date-input{
    flex: 1 1 0%;
    background-color: #e76f51;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: beige;
    font-size: 1.25rem;
}
#new-date-input::placeholder{
    color: antiquewhite;
}
#hasil {
    font-family: "Comic sans ms";
    border-collapse: collapse;
    width: 100%;
}

#hasil td, #hasil th {
    border: 1px solid #ddd;
    padding: 12px
}
#hasil td{
    padding: 12px;
    font-family: comic sans ms;
}
#hasil tr{background-color: #e76f51;}
#hasil tr:hover{background-color: #ec957f;}
#hasil th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #e29578;
    color: antiquewhite;
}
button.tbl-biru{
    background: #e76f51;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: antiquewhite;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
}
button.tbl-biru:hover{
    background: #ee9680;
    text-decoration: none;
}